body{
    font-weight: lighter;
}

p{
    text-align: center;
}

.content-container{
    display: flex;
    flex-direction: column;
}

#head-container{
    text-align: center;
}

#rule-container{
    margin-left: 43%;
}

#button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin-left: 45%;
}

button{
    width: 5%;
    text-align: center;
    padding: 0;
}
hr{
    width: 15%;
}

#play-again{
    margin-left: 48%;
}

#output-container{
    margin-left: 43.5%;
    width:13%;
    border: 2px solid #634f40;
    background-color: #634f40;
    color: aliceblue;
    font-weight: bold;
}

#output-container p{
    text-align: left;
    margin-left: 5%;
}

#who-win p{
    margin: 0;
}