body{
    background-color: #355e3b;
    font-weight: lighter;
}

.initial-page{
    background-color: #414652;
    width: 40%;
    margin-left: 30%;
    color: aliceblue;
    padding-bottom: 2%;
    font-family: "Lexend Deca";
}

p{
    text-align: center;
}

.content-container{
    display: flex;
    flex-direction: column;
}

#head-container{
    text-align: center;
}

#rule-container{
    margin-left: 31%;
}

#button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin-left: 32.5%;
}

button{
    width: 15%;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 10px;
    padding: 1%;
    font-family: "Comme";
}

button:hover{
    background-color: #4A0404;
    color: aliceblue;
}

hr{
    width: 40%;
}

#play-again{
    margin-left: 43%;
}

.results{
    margin-top: 2%;
    margin-left: 30%;
    padding-top: 2%;
    background-color: #414652;
    width: 40%;
}

#output-container{
    margin-left: 32.5%;
    width: 35%;
    border: 2px solid #634f40;
    background-color: #634f40;
    color: aliceblue;
    font-weight: bold;
    font-family: "Permanent Marker";
}

#output-container p{
    text-align: left;
    margin-left: 5%;
}

#who-win{
    padding-top: 2%;
    padding-bottom: 2%;
}

#who-win p{
    margin: 0;
    color: aliceblue;
    font-family: "Lexend Deca";
}